GamingAnyWhere/Source/ga/android_new/.gradle/
GamingAnyWhere/Source/ga/android_new/.idea/
GamingAnyWhere/Source/ga/android_new/app/.externalNativeBuild/
GamingAnyWhere/Source/ga/android_new/app/build/
GamingAnyWhere/Source/ga/android_new/app/src/main/obj/
GamingAnyWhere/Source/ga/android_new/build/
*.sdf
*.suo
GamingAnyWhere/Source/ga/vs2010/Debug/
GamingAnyWhere/Source/ga/vs2010/ga-client/Debug/
GamingAnyWhere/Source/ga/vs2010/ga-client/x64/
GamingAnyWhere/Source/ga/vs2010/ga-hook/Debug/
GamingAnyWhere/Source/ga/vs2010/ga-hook/x64/
GamingAnyWhere/Source/ga/vs2010/ga-server-event-driven/Debug/
GamingAnyWhere/Source/ga/vs2010/ga-server-event-driven/x64/
GamingAnyWhere/Source/ga/vs2010/ga-server-periodic/Debug/
GamingAnyWhere/Source/ga/vs2010/ga-server-periodic/x64/
GamingAnyWhere/Source/ga/vs2010/ipch/
GamingAnyWhere/Source/ga/vs2010/libga/Debug/
GamingAnyWhere/Source/ga/vs2010/libga/x64/
GamingAnyWhere/Source/ga/vs2010/module-asource-system/Debug/
GamingAnyWhere/Source/ga/vs2010/module-asource-system/x64/
GamingAnyWhere/Source/ga/vs2010/module-ctrl-sdl/Debug/
GamingAnyWhere/Source/ga/vs2010/module-ctrl-sdl/x64/
GamingAnyWhere/Source/ga/vs2010/module-encoder-audio/Debug/
GamingAnyWhere/Source/ga/vs2010/module-encoder-audio/x64/
GamingAnyWhere/Source/ga/vs2010/module-encoder-video/Debug/
GamingAnyWhere/Source/ga/vs2010/module-encoder-video/x64/
GamingAnyWhere/Source/ga/vs2010/module-encoder-x264/Debug/
GamingAnyWhere/Source/ga/vs2010/module-encoder-x264/x64/
GamingAnyWhere/Source/ga/vs2010/module-filter-rgb2yuv/Debug/
GamingAnyWhere/Source/ga/vs2010/module-filter-rgb2yuv/x64/
GamingAnyWhere/Source/ga/vs2010/module-server-ffmpeg/Debug/
GamingAnyWhere/Source/ga/vs2010/module-server-ffmpeg/x64/
GamingAnyWhere/Source/ga/vs2010/module-server-live555/Debug/
GamingAnyWhere/Source/ga/vs2010/module-server-live555/x64/
GamingAnyWhere/Source/ga/vs2010/module-vsource-desktop/Debug/
GamingAnyWhere/Source/ga/vs2010/module-vsource-desktop/x64/
GamingAnyWhere/Source/ga/vs2010/module-vsource-desktop-d3d/Debug/
GamingAnyWhere/Source/ga/vs2010/module-vsource-desktop-d3d/x64/
GamingAnyWhere/Source/ga/vs2010/module-vsource-desktop-dfm/Debug/
GamingAnyWhere/Source/ga/vs2010/module-vsource-desktop-dfm/x64/
GamingAnyWhere/Source/ga/vs2010/x64/
GASensor/Client/GASensorClient/bin/
GASensor/Client/GASensorClient/obj/
GASensor/Client/GASensorClient/publish/
GASensor/Server/log
GamingAnyWhere/Source/ga/android_new/local.properties
